@import 'reset';


*, *:before, *:after {
    box-sizing: inherit;
}

html {
	box-sizing: border-box;
	scroll-behavior:smooth;
}

html, body {
	position: relative;
}

@import 'settings';
@import 'mixins';
@import 'extends';
@import 'keyframes';

body {
  	font-family: $base-font-family;
	font-size: $base-font-size+px;
	line-height: $base-line-height;
	background-color: $base-bg;
  	font-weight: $base-font-weight;
  	margin: 0 auto;
	color: $base-color;
}

.wrp {
	position: relative;
}

.cntr {
	max-width: $default-container+px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	@include mq(max, $default-container) {
		padding-left: $default-pl+px;
		padding-right: $default-pl+px;
	}
}