.navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	.nav-item{
		margin-right: auto;
		text-decoration: none;
		.logo{
			display: flex;
			align-items: center;
			margin-left: 30px;
			img{
				max-width: 225px;
				width: 100%;
				@include mq(max, 768){
					max-width: 157px;
				}
			}
		}
	}
	.nav-menu{
		@include mq(max, 999){
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: #000;
			z-index: 9;
			transform: translateX(-100%);
			transition: linear .2s;
			height: 100vh;
			&.is-toggled {
				transform: translateX(0%);
				transition: linear .2s;
			}
		}
		.menu{
			display: flex;
			align-items: center;
			@include mq(max, 999){
				flex-wrap: wrap;
				margin-top: 80px;
			}
			.menu-item{
				@include mq(max, 999){
					flex: 0 0 100%;
					max-width: 100%;
				}
				a{
					font-family: 'Source Serif Pro',sans-serif;
					font-weight: 400;
					color: #000;
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: 18px;
					margin-right: 60px;
					text-decoration: none;
					@include mq(max, 1560){
						font-size: 16px;
						margin-right: 40px;
					}
					@include mq(max, 1270){
						margin-right: 20px;
						font-size: 12px;
					}
					@include mq(max, 999){
						color: #ffffff;
						font-size: 14px;
						line-height: 52px;
						margin-right: 0;
					}
				}
				&:last-child{
					@include mq(max, 999) {
						margin-top: 60px;
						padding: 0 $default-pl+px;
					}
					a{
						background-color: #000;
						color: #fff;
						font-family: 'Crimson Text', serif;
						font-weight: 300;
						margin-right: 0;
						font-size: 18px;
						padding: 30px 75px;
						text-transform: uppercase;
						@include mq(max, 1330){
							padding: 30px 50px;
						}
						@include mq(max, 920){
							padding: 30px 30px;
						}
						@include mq(max, 815){
							padding: 20px 20px;
						}
						@include mq(max, 999){
							background-color: #ffffff;
							color: #000000;
							font-size: 18px;
							line-height: 21px;
							max-width: 314px;
							width: 100%;
							margin: auto;
						}
					}
				}
			}
		}
	}
	.hamburger{
		display: none;
		@include mq(max, 999){
			display: block;
			background-color: #000;
			cursor: pointer;
			padding: 15px 23px;
			position: relative;
			z-index: 9;
		}
		.hamburger-box{
			width: 15px;
			height: 24px;
			display: inline-block;
			position: relative;
			top: 3px;
			.hamburger-inner{
				display: block;
				top: 50%;
				margin-top: -2px;
				height: 2px;
				background-color: #fff;
				position: relative;
				&::before, &::after{
					content: "";
					display: block;
					width: 15px;
					height: 2px;
					background-color: #fff;
					position: absolute;
				}
				&::before{
					top: -5px;
					transition: linear .3s;
				}
				&::after{
					bottom: -5px;
					transition: linear .3s;
				}
			}
		}
		&.is-toggled {
			padding: 14.4px 22.5px;
			background-color: #464646;
			.hamburger-box{
				.hamburger-inner{
					background-color: transparent;
					&::before{
						top: 2px;
						transform: rotate(45deg);
						transition: linear .3s;
					}
					&::after{
						bottom: -2px;
						transform: rotate(-45deg);
						transition: linear .3s;
					}
				}
			}
		}
	}
}