.m-cs_btn-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    @include mq(max, $mq_sm - 1) {
        padding-left: $default-pl+px;
        padding-right: $default-pl+px;
        margin-left: -5px;
        margin-right: -5px;
    }
    li {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 10px;
        max-width: 260px;
        width: 100%;
        @include mq(max, $mq_sm - 1) {
            padding: 0 5px;
            max-width: 50%;
        }
        a {
            display: block;
            width: 100%;
            text-decoration: none;
            border: 1px solid;
            color: #000000;
            text-align: center;
            font-family: "Yu Gothic Medium", sans-serif;
            font-weight: 400;
            padding: 13.5px 10px;
            transition: all 400ms ease;
            &:hover {
                background-color: #000;
                color: #fff;
                transition: all 400ms ease;
            }
        }
    }
}