.m-tit{
    position: relative;
    text-align: center;
    margin-bottom: calc(30px + (60 - 30) * ((100vw - 414px) / (1900 - 414)));
    h2{
        font-size: calc(22px + (60 - 22) * ((100vw - 414px) / (1900 - 414)));
        font-family: 'Crimson Text', serif;
        font-weight: 300;
        line-height: calc(22px + (42 - 22) * ((100vw - 414px) / (1900 - 414)));
        margin-bottom: 30px;
        text-transform: uppercase;
        @include mq(max, 768){
            margin-bottom: 20px;
        }
    }
    p{
        font-family: 'Yu Gothic Medium',sans-serif;
        font-size: 16px;
        line-height: 30px;
    }
}

.m-prof-tit{
    font-family: 'Crimson Text', serif;
    
    font-size: 90px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: 50px;
    position: absolute;
    width: 100%;
    @include mq(max, 999){
        font-size: calc(36px + (60 - 36) * ((100vw - 414px) / (999 - 414)));
        margin-bottom: 30px;
        margin-top: 30px;
        position: relative;
    }
    span{
        display: inline-block;
        position: relative;
        height: 90px;
        @include mq(max, 999){
            height: calc(36px + (60 - 36) * ((100vw - 414px) / (999 - 414)));
        }
        &::before{
            content: "";
            position: absolute;
            height: 2px;
            background-color: #000;
            width: 100%;
            bottom: -6px;
        }
    }
}