.clearfix:before, .clearfix:after { content:""; display: table; clear: both; }
.clearfix {clear: both; overflow: hidden;}
img{
    max-width: 100%;
}
// Contact Page
.contact-container{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}
.contact-page{
    padding-bottom: 150px;
    @include mq(max, 999) {
        padding-left: 20px;
        padding-right: 20px;
    }
    .m-contact-title{
        text-align: center;
        text-transform: uppercase;
        margin: 73px auto 36px;
        font-family: 'Crimson Text', serif;
        font-weight: normal;
        font-size: 44px;
        span{
            display: block;
            text-transform: none;
            font-size: 16px;
            margin-top: 27px;
        }
    }
}
.m-breadcrumbs{
    margin-left: 20px;
    ul{
        display: flex;
        flex-wrap: wrap;
        li{
            text-transform: uppercase;
            color: #000;
            position: relative;
            font-size: 12px;
            &::after{
                content: "─";
                margin: 0 4px;
            }
            &:last-child::after{
                display: none;
            }
            a{
                text-decoration: underline;
                color: #000;
            }
        }
    }
}
.contact-text{
    font-size: 16px;
    margin-top: 50px;
    h3{
        text-align: center;
        font-size: 20px;
        margin-bottom: 50px;
        font-family: 'Source Serif Pro',sans-serif;
        font-weight: normal;
        span{
            display: block;
        }
    }
    p{
        margin-bottom: 20px;
    }
}
/* Forms Presets */
::-webkit-input-placeholder {opacity: 1; color: inherit;}
::-moz-placeholder {opacity: 1; color: inherit;}
:-ms-input-placeholder {opacity: 1; color: inherit;}
:-moz-placeholder {opacity: 1; color: inherit;}

.mw_wp_form form, .contact-form{
    max-width: 600px;
    width: 100%;
    margin: 55px auto 0;
    .contact-fields{
        margin-bottom: 37px;
        border-bottom: 1px solid #000 !important;
        p{
            font-size: 12px;
            margin-top: 10px;
        }
        label{
            font-size: 16px;
            display: block;
            margin-bottom: 15px;
            font-family: 'Source Serif Pro',sans-serif;
            span{
                display: inline-block;
                vertical-align: middle;
                width: 39px;
                border: 1px solid #000;
                text-align: center;
                font-size: 10px;
                line-height: 19px;
                font-family: 'Yu Gothic Medium',sans-serif;
            }
        }
        input, textarea{
            -webkit-appearance: none;
            border: 0;
            background: #F3F3F3;
            color: #000;
            padding: 12px 18px;
            font-size: 16px;
        }
        input::placeholder, textarea::placeholder{
            color: #D8D8D8;
        }
        input[type=text], input[type=email], textarea{
            width: 100%;
        }
        .number{
            width: 128px!important;
        }
        textarea{
            resize: none;
            overflow: auto;
            height: 150px;
        }
    }
    .con-form-btn{
        text-align: center;
        [class^=btn-]{
            padding: 24px 0;
            display: inline-block;
            text-decoration: none;
            color: #fff;
            text-align: center;
            font-size: 20px;
            border: 0;
            margin: 0 15px;
            transition: all 400ms ease;
            @include mq(max, 999) {
                margin:0 auto 10px; 
            }
        }
        .btn-black{
            background:#000;
            cursor: pointer;
            max-width: 300px;
            width: 100%;
            font-family: 'Source Serif Pro',sans-serif;
            border: 1px solid transparent;
            &:hover{
                border: 1px solid #000;
                background: #fff;
                color: #000;
            }
        }
        .btn-gray{
            max-width: 148px;
            width: 100%;
            background: #969696;
            font-family: 'Source Serif Pro',sans-serif;
            &:hover{
                background: #000;
                color: #fff;
            }
        }
    }
}
.contact-ans{
    display: block;
    padding: 0 20px 12px;
    width:100%;
    border-bottom: 1px solid #000;
}
.contact-box{
    text-align: center;
    font-size: 20px;
    background: #F3F3F3;
    max-width: 800px;
    width: 100%;
    margin:48px auto 0;
    line-height: 35px;
    padding:0 45px 50px;
    font-family: 'Source Serif Pro',sans-serif;
    @include mq(max, 999) {
        padding-left: 20px;
        padding-right: 20px;
    }
    h2{
        display: inline-block;
        border-bottom: 1px solid #000;
        font-weight: normal;
        font-size: 40px;
        position: relative;
        top:-20px;
        line-height: 100%;
        margin-bottom: 30px;
        @include mq(max, 999) {
            font-size: 35px;
        }
        @include mq(max, 414){
            font-size: 30px;
            margin-bottom: 15px;
        }
    }
    &.box2{
        line-height: 30px;
        h3{
            text-align: center;
            font-size: 20px;
            margin-bottom: 45px;
            font-family: 'Source Serif Pro',sans-serif;
            font-weight: normal;
        }
        p{
            text-align: left;
            font-size: 14px;
            margin-bottom: 30px;
        }
        a{
            display: block;
            margin: 0 auto;
            font-size: 15px;
            width: 180px;
            border: 1px solid #000;
            padding: 11px 0;
            text-decoration: none;
            color: #000;
            &:hover{
                background: #000;
                color: #fff;
                transition: all 400ms ease;
            }
        }
    }
}
// end of Contact Page
// Brand Page
.m_banner{
    min-height: 550px;
    position: relative;
    @include mq(max, 999) {
        height: 41vw;
        min-height: 0;
    }
    &.brand_ban{
        background: url("../img/brand/brand_banner.jpg") center center/cover no-repeat;
        background-attachment: fixed;
        @include mq(max, 999) {
            background: url("../img/brand/brand_banner_sp.jpg") center center/cover no-repeat;
        }
    }
}
.brand-page{
    position: relative;
    .m-breadcrumbs{
        position: absolute;
        bottom: 26px;
        left: 0;
        @include mq(max, 999) {
            position: relative;
            bottom: 0;
            margin-left: 28px;
        }
        ul{
            li, li a{
                color: #fff;
                @include mq(max, 999) {
                   color: #000;
                   font-size: 10px;
                }
            }
            a:hover{
                opacity: 0.6;
            }
        }
    }
    @include mq(max, 999) {
        .m-cs_bnr-wrp.has-bg{
            padding: 0;
        }
        .m-cs_btn-ei{
            right: 0;
            left: 0;
            width: 110px;
            margin: 0 auto;
        }
    }
}
.m_page_title{
    text-align: center;
    color: #fff;
    position: absolute;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    top: 50%;
    h2{
        font-family: 'Crimson Text', serif;
        font-weight: normal;
        font-size: 44px;
        text-transform: uppercase;
        @include mq(max, 999) {
            font-size: 22px;
        }
        span{
            display: block;
            font-size:16px;
            text-transform: none;
            font-family: 'Yu Gothic Medium',sans-serif;
            margin-top: 30px;
            @include mq(max, 999) {
                font-size: 12px;
                margin-top: 10px;
            }
        }
    }
}
.brand_middle_section{
    background: #F2F2F2;
    padding-top: 80px;
    @include mq(max, 999) {
        padding-top: 30px;
    }
    .brand_ttle{
        height: 180px;
        @include mq(max, 999) {
            height: 105px;
        }
        .brand-line{
            float: left;
            position: relative;
            height: 100%;
            width: calc(100% - 457px);
            @include mq(max, 999) {
                width: calc(100% - 276px);
                margin-left: 30px;
            }
            small{
                background: #000;
                width: 100%;
                height: 1px;
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
            }
        }
        h2{
            float:right;
            font-family: 'Crimson Text', serif;
            font-weight: normal;
            font-size: 152px;
            line-height: 100%;
            margin-right: 40px;
            @include mq(max, 999) {
                font-size: 86px;
                margin-right: 20px;
            }
        }
    }
}
// Meuble cards
.m-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    @include mq(max, 999) {
        padding: 0 30px;
    }
    [class^=card-m]{
        flex: 0 0 31.3%;
        max-width: 31.3%;
        background: #fff;
        display: block;
        display: flex;
        flex-wrap: wrap;
        text-decoration: none;
        color: #000;
        height: 260px;
        transition: all 400ms ease;
        overflow: hidden;
        @include mq(max, 999) {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 20px;
            &:last-child{
                margin: 0;
            }
        }
        .card-img{
            flex: 0 0 55%;
            max-width: 55%;
            &.one{
                background: url('../img/brand/card1.png') right/cover no-repeat;
            }
            &.two{
                background: url('../img/brand/card2.png') right/cover no-repeat;
            }
            &.three{
                background: url('../img/brand/card3.png') right/cover no-repeat;
            }
        }
        .card-content{
            flex: 0 0 45%;
            max-width: 45%;
            text-align: center;
            padding: 80px 10px 80px 0;
        }
        p{
            margin-top: 12px;
            line-height: 100%;
            font-size: 15px;
        }
        &:hover{
            box-shadow: 0px 0px 16px -3px rgba(0,0,0,0.70);
        }
    }
}
.brand-main-content{
    background: #F2F2F2;
    padding: 150px 25px 0;
    margin-bottom: 146px;
    @include mq(max, 999) {
        padding: 100px 0 0;
    }
    .brand-box{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 146px;
        @include mq(max, 999) {
            padding-bottom: 20px;
        }
        .m-btn_line{
            font-family: 'Source Serif Pro',sans-serif;
        }
        .brand-parent{
            position: relative;
            display: flex;
            flex-wrap: wrap;
            max-width: 100%;
            flex:0 0 100%;
        }
        .brand-img{
            width: 61.7%;
            height: 601px;
            overflow: hidden;
            &.one{
                background: url('../img/brand/brand-img1.jpg') center/cover no-repeat;
            }
            &.two{
                background: url('../img/brand/brand-img2.jpg') center/cover no-repeat;
            }
            &.three{
                background: url('../img/brand/brand-img3.jpg') center/cover no-repeat;
            }
            @include mq(max, 999) {
                width: 100%;
                height: 274px;
            }
        }
        .br-box-con{
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            background: #fff;
            min-height: 460px;
            width: 52.54%;
            padding: 100px 55px 50px;
            font-size: 14px;
            @include mq(max, 999) {
                width: 100%;
                min-height: 0;
                position: relative;
                top:0;
                transform: none;
                padding: 38px 30px;
            }
            img{
                margin:0 auto 50px;
                display: block;
            }
            h2{
                font-size: 22px;
                margin-bottom: 25px;
                line-height: 35px;
                font-weight: normal;
                font-family: 'Source Serif Pro',sans-serif;
            }
        }
        .m-line-btn_cntr{
            max-width: 100%;
            flex:0 0 100%;
            margin-top: 60px;
            text-align: center;
            @include mq(max, 999) {
                background: #fff;
                margin: 0;
                padding-bottom: 58px;
            }
        }
        &:nth-child(even){
            .brand-parent{
                flex-direction: row-reverse;
                @include mq(max, 999) {
                    flex-direction: inherit;
                }
            }
            .br-box-con{
                left: 0;
                right: auto;
            }
        }
        &:last-child{
            padding-bottom: 100px;
            @include mq(max, 999) {
                padding-bottom: 56px;
            }
        }
    }
}
// end of Brand Page